h1 { text-align: center;
	font-size: 35px;
	font-family: "Comic Sans MS", sans-serif;
	margin-bottom: 50px}
* { box-sizing: border-box; }
div { 
	border: 1px solid black;
	background-color: salmon;
	font-size: 20px;
	font-family: "Comic Sans MS", sans-serif;
	margin: 10px;
	 }
.heading { 
float: right;
border-left: 1px solid black;
border-bottom: 1px solid black;
width: 230px;
margin: 0;
padding: 5px;
color: white;
font-size: 25px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
height: 50px;
}
p { padding: 20px;
	}
@media ( min-width: 992px) {
	.col-lg-4 { width: 33%;
	float: left; }
}
@media ( min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
	float: left; }
	.col-md-6 { width: 50%; }
	.col-md-12 { width: 100%; }
}

#purple { background-color: blueviolet; }
#brown { background-color: brown; }
#blue { background-color: dodgerblue; }